body {
	background-color: #000000;
	font-family: copperplate, serif;
}

h1 {
	color: #ffffff;
	text-align: center;
}

#clockdiv {
	background: #607B8B;
	border: 1px solid #000000;
	border-radius: 20px;
	color: #000000;
	text-align: center;
	display: inline-block;
	font-size: 3.500em;
	position: absolute;
	left: 36%;
	top: 72%;
	opacity: 0.9;
}

#clockdiv > div {
	margin-right: 3px;
	padding: 15px 15px 0px 15px;
	display: inline-block;
}

#clockdiv div > span {
	padding: 7px;
	border-radius: 6px;
}

.small {
	font-size: 0.375em;
}

#logo {
	position: absolute;
	top: 300px;
	left: 430px;
}

#logo img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#wallpaper {
	z-index: -2;
	position: relative;
	top: -35px;
}


#wallpaper img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
}

footer {
	color: #ffffff;
	text-align: center;
}
